.filters{
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
}
button{
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  height: 48px;
  width: 20%;
  border: None;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  right: 30px;
  top: 11px;
  position: absolute;
}
button:hover{
  opacity: 0.9;
}
